@charset "UTF-8";
* {
  font-family: 'Oswald', sans-serif; }

a {
  text-decoration: none;
  color: black;
  transition: 0.5s; }
  a:hover {
    text-decoration: none;
    color: gray;
    transition: 0.5s; }

body .header .header-top-left {
  display: flex; }
  body .header .header-top-left .header-top-left-button {
    background-color: #f2f2f2;
    box-shadow: none;
    border: 1px solid #eaeaea; }
    body .header .header-top-left .header-top-left-button .header-top-left-img {
      padding-top: 3.8px;
      padding-right: 3px;
      width: 20px; }
  body .header .header-top-left .header-top-left-button p {
    margin-bottom: 0; }
  body .header .header-top-left .header-top-left-button:nth-child(1) {
    border-right: 2px solid #dedede; }

body .header .logo {
  width: 100px;
  height: 100px; }

body .header .header-right-varer {
  align-items: center; }
  body .header .header-right-varer .header-top-right form .search,
  body .header .header-right-varer .header-top-right-submit {
    padding: 3px; }
  body .header .header-right-varer form .header-right-varer-cart {
    border: none;
    background-color: #1a1a1a;
    color: white;
    margin: 15px 0;
    padding: 10px;
    font-size: 0.9rem; }
  body .header .header-right-varer .header-right-varer-button {
    background-color: #404040;
    font-size: 0.9rem;
    margin: 15px 0;
    padding: 10px;
    color: white;
    border: none; }

body .nav-link {
  color: black !important;
  transition: 0.5s;
  font-family: 'Oswald', sans-serif; }
  body .nav-link:hover {
    transition: 0.5s;
    color: gray !important; }

body .active {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5); }

body .main-title {
  font-family: 'Karla', sans-serif;
  color: #666;
  text-align: center; }

body .aside-search {
  background-color: #c4c4c4;
  margin-bottom: 25px;
  opacity: 0.7;
  padding: 0; }
  body .aside-search form {
    background-color: #eaeaea; }

body .aside-search-categori {
  font-family: 'Karla', sans-serif; }

body .aside-categori-button {
  border: none;
  background-color: #eaeaea;
  padding-left: 20px;
  padding-bottom: 15px;
  width: 100%;
  text-align: start; }

body .aside-nyhedsbrev {
  background-color: #c4c4c4;
  margin-bottom: 25px;
  padding: 0; }

body .div-nyhedsbrev {
  background-color: #eaeaea;
  width: 100%; }

body .h3-nyhedsbrev {
  padding-left: 25px;
  line-height: 30px; }

body .form-nyhedsbrev {
  width: 100%; }
  body .form-nyhedsbrev input {
    border: none;
    line-height: 30px; }

body .herretoj {
  background-image: url("../img/kategoriHerre.jpg");
  color: #666;
  flex-grow: 1;
  height: 350px;
  background-repeat: no-repeat;
  opacity: 0.7;
  transition: 0.5s;
  background-size: contain; }
  body .herretoj:hover {
    opacity: 1;
    transition: 0.5s; }

body .kvindetoj {
  background-image: url("../img/kategoriKvinde.jpg");
  color: #666;
  opacity: 0.7;
  flex-grow: 1;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-size: contain; }
  body .kvindetoj:hover {
    opacity: 1;
    transition: 0.5s; }

body .toj {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  text-align: center; }

body .container > .toj {
  font-family: 'Karla', sans-serif;
  border: none;
  color: #666; }

body .flex-grow {
  flex-grow: 1; }

body .h3-nyhedsbrev {
  font-family: 'Karla', sans-serif;
  color: #666; }

.form-control {
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.username {
  width: 100%;
  margin: 0.4rem 0; }

.password {
  text-align: center;
  flex-grow: 1;
  margin: 0 15px;
  margin: 0 3%;
  border-radius: 5%;
  border: 2px solid #c4c4c4;
  box-shadow: inset 0 0 2px black;
  line-height: 50px;
  border-radius: 5px; }

.submit {
  text-align: center;
  flex-grow: 1;
  margin: 0 15px;
  background-color: #F7F7F7;
  transition: 0.3s;
  border: 2px solid #c4c4c4;
  box-shadow: inset 0 0 1px black;
  line-height: 50px;
  border-radius: 5px; }
  .submit:hover {
    transition: 0.5s;
    background-color: white; }

main .submit {
  width: 100%; }

.content {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-top: 10px;
  flex-wrap: wrap; }
  .content .articel {
    text-align: center;
    flex-grow: 1;
    max-width: 22%;
    border: 1px solid #c4c4c4;
    margin: 10px 0;
    padding: 0; }
    .content .articel .læs-mere {
      text-decoration: underline;
      text-align: start; }
    .content .articel p {
      padding-left: 10px; }
    .content .articel > p {
      text-align: center; }
    .content .articel .article-text {
      text-align: left; }
    .content .articel img {
      width: 100%;
      height: 200px;
      float: right; }
    .content .articel .form-control {
      width: 95%;
      margin: 3px auto; }
    .content .articel form {
      width: 100%; }
      .content .articel form input {
        margin: 0;
        width: 100%; }
    .content .articel .star {
      color: yellow;
      text-align: center; }

@media screen and (max-width: 720px) {
  .herretoj {
    height: 150px !important; }
  .kvindetoj {
    height: 150px !important; }
  .content .articel {
    max-width: 100%; }
  .img {
    max-height: 250px !important; } }

.card-text-top {
  background-color: #f0f0f0;
  padding-bottom: 10px; }

.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; }

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  background-color: #e3e3e3;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: none; }

.card-img-top {
  display: block;
  width: 100%;
  height: auto; }

.card-title {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em; }

.card-text {
  clear: both;
  margin-top: .5em;
  font-size: 0.8rem;
  height: 70px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.68); }
