* {
  font-family: 'Oswald', sans-serif; }

a {
  text-decoration: none;
  color: black;
  transition: 0.5s; }
  a:hover {
    text-decoration: none;
    color: gray;
    transition: 0.5s; }

body .header .header-top-left {
  display: flex; }
  body .header .header-top-left .header-top-left-button {
    background-color: #f2f2f2;
    box-shadow: none;
    border: 1px solid #eaeaea; }
    body .header .header-top-left .header-top-left-button .header-top-left-img {
      padding-top: 3.8px;
      padding-right: 3px;
      width: 20px; }
  body .header .header-top-left .header-top-left-button p {
    margin-bottom: 0; }
  body .header .header-top-left .header-top-left-button:nth-child(1) {
    border-right: 2px solid #dedede; }

body .header .header-right-varer {
  align-items: center; }
  body .header .header-right-varer .header-top-right form .search,
  body .header .header-right-varer .header-top-right-submit {
    border: 1px solid #dedede;
    padding: 3px; }
  body .header .header-right-varer form .header-right-varer-cart {
    background-color: #1a1a1a;
    color: white;
    padding: 15px;
    font-size: 1.1rem; }
  body .header .header-right-varer .header-right-varer-button {
    background-color: #404040;
    font-size: 1.1rem;
    margin: 0;
    padding: 15px;
    color: white; }

body .nav-link {
  color: black !important;
  transition: 0.5s;
  font-family: 'Oswald', sans-serif; }
  body .nav-link:hover {
    transition: 0.5s;
    color: gray !important; }

body .active {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5); }

body .main-title {
  font-family: 'Karla', sans-serif;
  color: #666;
  text-align: center; }

body .aside-search {
  background-color: #c4c4c4;
  margin-bottom: 25px;
  opacity: 0.7;
  padding: 0; }
  body .aside-search form {
    background-color: #eaeaea; }

body .aside-search-categori {
  font-family: 'Karla', sans-serif; }

body .aside-categori-button {
  border: none;
  text-align: start;
  padding-left: 20px;
  padding-bottom: 15px;
  background-color: #eaeaea;
  width: 100%; }

body .aside-nyhedsbrev {
  background-color: #c4c4c4;
  margin-bottom: 25px;
  padding: 0; }

body .div-nyhedsbrev {
  background-color: #eaeaea;
  width: 100%; }

body .form-nyhedsbrev {
  width: 100%; }

body .herretoj {
  background-image: url("../img/kategoriHerre.jpg");
  color: #666;
  flex-grow: 1;
  height: 350px;
  background-repeat: no-repeat;
  opacity: 0.7;
  transition: 0.5s;
  background-size: contain; }
  body .herretoj:hover {
    opacity: 1;
    transition: 0.5s; }

body .kvindetoj {
  background-image: url("../img/kategoriKvinde.jpg");
  color: #666;
  opacity: 0.7;
  flex-grow: 1;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-size: contain; }
  body .kvindetoj:hover {
    opacity: 1;
    transition: 0.5s; }

body .toj {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  text-align: center; }

body .container > .toj {
  font-family: 'Karla', sans-serif;
  border: none;
  color: #666; }

body .flex-grow {
  flex-grow: 1; }

body .h3-nyhedsbrev {
  font-family: 'Karla', sans-serif;
  color: #666; }

.form-control {
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .form-control .username {
    flex-grow: 1;
    margin: 0 15px;
    list-style: none;
    text-align: center;
    border: 2px solid #c4c4c4;
    box-shadow: inset 0 0 2px black;
    line-height: 50px;
    border-radius: 5px; }
  .form-control .password {
    text-align: center;
    flex-grow: 1;
    margin: 0 15px;
    margin: 0 3%;
    border-radius: 5%;
    border: 2px solid #c4c4c4;
    box-shadow: inset 0 0 2px black;
    line-height: 50px;
    border-radius: 5px; }

.submit {
  text-align: center;
  flex-grow: 1;
  margin: 0 15px;
  background-color: #F7F7F7;
  transition: 0.3s;
  border: 2px solid #c4c4c4;
  box-shadow: inset 0 0 1px black;
  line-height: 50px;
  border-radius: 5px; }
  .submit:hover {
    transition: 0.5s;
    background-color: white; }

main .submit {
  width: 100%; }

.content {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  flex-wrap: wrap; }
  .content hr.style14 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); }
  .content .articel {
    text-align: center;
    max-width: 30%;
    border: 1px solid #c4c4c4;
    margin: 5px 20px;
    padding: 0; }
    .content .articel div {
      width: 100%;
      margin: 5px auto;
      float: left;
      background: #e3e3e3; }
    .content .articel p {
      text-align: left;
      padding-left: 20px; }
    .content .articel img {
      width: 100%;
      max-height: 30%;
      float: right; }
    .content .articel .form-control {
      width: 95%;
      margin: 3px auto; }
    .content .articel form {
      width: 100%; }
      .content .articel form input {
        margin: 0;
        width: 100%; }

@media screen and (max-width: 720px) {
  .herretoj {
    height: 150px !important; }
  .kvindetoj {
    height: 150px !important; }
  .content .articel {
    max-width: 100%; } }
