@import "_mixins.scss";
@import "_variable.scss";
* {
    font-family: 'Oswald', sans-serif;
}
a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
    &:hover{
        text-decoration: none;
        color: lighten(black, 50%);
        transition: 0.5s;
    }
}
body {
    .header {
        .header-top-left {
            display: flex;
            .header-top-left-button {
                line-height: 20px;
                background-color: darken(#F7F7F7, 2%);
                box-shadow: none;
                border: 1px solid darken(#F7F7F7, 5%);
                .header-top-left-img {
                    padding-top: 3.8px;
                    padding-right: 3px;
                    width: 20px;
                }
            }
            .header-top-left-button:nth-child(1) {
                border-right: 2px solid darken(#F7F7F7, 10%);
            }
        }
        .header-right-varer {
            align-items: center;
            .header-top-right form .search,
            .header-top-right-submit {
                border: 1px solid darken(#F7F7F7, 10%);
                padding: 3px;
            }
            form .header-right-varer-cart {
                background-color: lighten(black, 10%);
                color: white;
                padding: 15px;
                font-size: 1.1rem;
            }
            .header-right-varer-button {
                background-color: lighten(black, 25%);
                font-size: 1.1rem;
                margin: 0;
                padding: 15px;
                color: white;
            }
        }
    }
    .nav-link {
        color: black !important;
        transition: 0.5s;
        font-family: 'Oswald', sans-serif;
        &:hover {
            transition: 0.5s;
            color: lighten(black, 50%) !important;
        }
    }
    .active {
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }
    .main-title {
        font-family: 'Karla', sans-serif;
        color: #666;
    }
    .aside-search {
        background-color: darken(#F7F7F7, 20%);
        margin-bottom: 25px;
        opacity: 0.7;
        padding: 0;
    }
    .aside-search-categori {
        font-family: 'Karla', sans-serif;
    }
    .aside-categori-button {
        border: none;
        text-align: start;
        padding-left: 20px;
        padding-bottom: 15px;
        background-color: darken(#F7F7F7, 5%);
        width: 100%;
    }
    .aside-nyhedsbrev {
        background-color: darken(#F7F7F7, 20%);
        margin-bottom: 25px;
        padding: 0;
    }
    .div-nyhedsbrev {
        background-color: darken(#F7F7F7, 5%);
        width: 100%;
    }
    .form-nyhedsbrev {
        width: 100%;
    }
    .herretoj {
        background-image: url("../img/kategoriHerre.jpg");
        color: #666;
        flex-grow: 1;
       height: 350px;
        background-repeat: no-repeat;
        opacity: 0.7;
        transition: 0.5s;
        background-size: contain;
        &:hover {
            opacity: 1;
            transition: 0.5s;
        }
    }
    .kvindetoj {
        background-image: url("../img/kategoriKvinde.jpg");
        color: #666;
        opacity: 0.7;
        flex-grow: 1;
        @if(width == 720px){
        max-height: 350px;
        }@else{
            height: 350px;
        }transition: 0.5s;
        background-repeat: no-repeat;
        background-size: contain;
        &:hover {
            opacity: 1;
            transition: 0.5s;
        }
    }
    .toj {
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid black;
        color: black;
        text-align: center;
    }
    .container>.toj {
        font-family: 'Karla', sans-serif;
        border: none;
        color: #666;
    }
    .flex-grow {
        flex-grow: 1;
    }
    .footer {
        background-color: darken(#F7F7F7, 10%);
    }
    .h3-nyhedsbrev {
        font-family: 'Karla', sans-serif;
        color: #666;
    }
}

.form-control {
    @include background-color(#f7f7f7);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .username {
        flex-grow: 1;
        margin: 0 15px;
        list-style: none;
        text-align: center;
        border: 2px solid darken(#F7F7F7, 20%);
        box-shadow: inset 0 0 2px black;
        line-height: 50px;
        border-radius: 5px;
    }
    .password {
        text-align: center;
        flex-grow: 1;
        margin: 0 15px;
        margin: 0 3%;
        border-radius: 5%;
        border: 2px solid darken(#F7F7F7, 20%);
        box-shadow: inset 0 0 2px black;
        line-height: 50px;
        border-radius: 5px;
    }
}

.submit {
    text-align: center;
    flex-grow: 1;
    
    margin: 0 15px;
    background-color: #F7F7F7;
    transition: 0.3s;
    border: 2px solid darken(#F7F7F7, 20%);
    box-shadow: inset 0 0 1px black;
    line-height: 50px;
    border-radius: 5px;
    &:hover {
        transition: 0.5s;
        background-color: lighten(#F7F7F7, 10%);
    }
}
main .submit {
    width: 100%;
}

.content {
    @include background-color(darken($BackgroundColor,
    1%));
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    flex-wrap: wrap;
    hr.style14 {
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    }
    .articel {
        text-align: center;
        border: 1px solid darken($BackgroundColor, 20%);
        margin: 5px 20px;
        padding: 0;
        div {
            width: 100%;
            margin: 5px auto;
            float: left;
            background: darken(#f0f0f0, 25%);
        }
        p {
            text-align: left;
            padding-left: 20px;
        }
        img {
            width: 100%;
            max-height: 30%;
            float: right;
        }
        .form-control {
            width: 95%;
            margin: 3px auto;
        }
        .submit {
            margin: 0;
        }
    }
}
@media screen and (max-width: 720px) {
    .herretoj{
        height: 150px !important;
    }
    .kvindetoj{
        height: 150px !important;
    }
}